:root {
    --primary: rgba(0, 0, 0, .5);
    --primary-dark: rgba(0, 0, 0, .8);
    --primary-light: rgba(0, 0, 0, .2);
    --secondary: rgba(255, 255, 255, 1);
    --secondary-light: rgba(230, 230, 230, 1);
    --secondary-dark: rgba(195, 195, 195, 1);
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
}

/*
    Header
*/

#app-container {
    height: 100vh;
    display: block;
    overflow: hidden;
}

.app-header {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 10vh;
    background-color: var(--primary-light);
}

.app-header>h1 {
    color: var(--secondary);
    font-weight: 400;
    font-size: 1.6rem;
}

/*
    Products
*/

.products-container {
    height: 82vh;
    background-color: var(--primary);
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 5vh;
    box-sizing: border-box;
}

#products-list {
    box-sizing: border-box;
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
}

#products-list>thead {
    position: fixed;
    top: 10vh;
    background: #BBB;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .2);
}

#products-list>tbody>tr:nth-child(odd) {
    background-color: var(--secondary-light);
}

#products-list>tbody>tr:nth-child(even) {
    background-color: white;
}

.products-titles>th {
    padding: .5rem 0;
    color: var(--primary);
    font-size: .8rem;
    text-transform: uppercase;
    width: 25vw;
}

.product>td {
    font-size: .9rem;
    color: var(--primary-dark);
    padding: .5rem;
    width: 25vw;
    box-sizing: border-box;
}

.bg-orange {
    background-color: orange !important;
}

.bg-orange td {
    color: var(--secondary-light) !important;
    border-bottom: 1px solid rgba(255, 255, 255, .4);
}

/*
    Button
*/

#products-btn {
    height: 8vh;
    background-color: var(--primary-dark);
    width: 100%;
    border: 0;
    color: var(--secondary-dark);
    font-size: 1rem;
    text-transform: uppercase;
    box-shadow: 0px -1px 6px var(--primary);
    font-weight: 400;
}

/*
    Message
*/

.message>td {
    height: 80vh;
}

.spinner {
    border: .4rem solid var(--primary-light);
    display: block;
    width: 2rem;
    height: 2rem;
    margin: 0 auto;
    border-radius: 1rem;
    animation-name: spin;
    animation-duration: .6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}